{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}


{% block body %}
    <header class="header_in_mainpage">
        <img class="logo_main" src="logo-soignemoi.png" alt="logo de l'hôpital SoigneMoi">
        <a href="/signup">
            <button class="signup_button">Créer un compte</button>
        </a>
    </header>
    <main class="main_in_mainpage">
        <section class="presentation_in_main_page descr-and-img-container-landingpage">
            <div class="text_presentation content_in_mainpage">
                <p class="welcome_text">Bienvenue sur le site de l’hôpital <strong class="green">Soigne</strong><strong class="orange">Moi</strong> de la région lilloise.</p>
                <ul class="details_text">
                    <li>45 médecins spécialistes</li>
                    <li>équipement médical moderne</li>
                    <li>plus de 6000 patients satisfaits</li>
                </ul>
                <div class="login_button_container">
                    <button id="login_button_desktop" class="login_button">SE CONNECTER</button>
                </div>
            </div>
            <div class="image_presentation content_in_mainpage">
                <div class="container_above_image">
                    <div class="new">
                        <i class="fa-solid fa-star"></i>
                        <span>NOUVEAU</span>
                        <i class="fa-solid fa-star"></i>
                    </div>
                    <div class="text_above_image">
                        <p>Ouverture janvier 2024 :</p>
                        <ul>
                            <li>Cabinet dentaire</li>
                            <li>Cabinet de pédiatrie</li>
                        </ul>
                        <p>Prise de rendez-vous <br>immédiate.</p>
                    </div>
                </div>

                <img class="image_in_mainpage" src="doctor.jpg" alt="photo d'un docteur en tenue de travail">
            </div>

        </section>
        <!-- Modal pour la connexion-->


    </main>
    <div class="login-form">
        <div class="closebutton_container">
            <p class="instruction_modal">Entrez vos identifiants :</p>
            <span class="closebutton_modal">X</span>
        </div>
        <form method="post" class="inputs-container-login">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            <label for="inputEmail">Email</label>
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control input-in-login-form" autocomplete="email" required autofocus>
            <label for="inputPassword">Password</label>
            <input type="password" name="password" id="inputPassword" class="form-control input-in-login-form" autocomplete="current-password" required>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            <div class="login-button-container">
                <button class="btn btn-lg btn-primary" type="submit" id="submit-login">
                    SE CONNECTER
                </button>
            </div>
        </form>
    </div>

    <script src="login.js"></script>

{% endblock %}