{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <header class="header_in_mainpage">
        <img class="logo_main" src="logo-soignemoi.png" alt="logo de l'hôpital SoigneMoi">
        <div class="header-sub">
            <button class="login_button-in-header" type="submit" id="login_button_desktop_header">
                Se connecter
            </button>
            <a href="/signup">
                <button class="signup_button">Créer un compte</button>
            </a>
        </div>

    </header>

    <main class="main_in_mainpage signup-main">

        <section class="presentation_in_main_page descr-and-img-container-landingpage">
            <div class="text_presentation content_in_mainpage">
                <p class="welcome_text">Bienvenue sur le site de l’hôpital <strong class="green">Soigne</strong><strong class="orange">Moi</strong> de la région lilloise.</p>
                <ul class="details_text">
                    <li>45 médecins spécialistes</li>
                    <li>équipement médical moderne</li>
                    <li>plus de 6000 patients satisfaits</li>
                </ul>
                <div class="login_button_container">
                    <button id="login_button_desktop" class="login_button login-button-in-desktop">SE CONNECTER</button>
                </div>
                {% if error %}
                    <script>
                        document.addEventListener("DOMContentLoaded", function() {
                            alert("Identifiants et/ou mot de passe incorrect(s)");
                        });
                    </script>
                {% endif %}
            </div>

            <div class="image_presentation content_in_mainpage-for-image">
                <div class="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="doctor-1.png" alt="Présentation des services de l'hôpital">
                        </div>
                        <div class="carousel-item">
                            <img src="doctor-2.png" alt="Présentation des services de l'hôpital">
                        </div>
                        <div class="carousel-item">
                            <img src="doctor-3.png" alt="Présentation des services de l'hôpital">
                        </div>
                    </div>
                    <a class="carousel-control-next" onclick="nextSlide()">&#10095;</a>
                </div>
            </div>

        </section>
    </main>


    <div class="login-form">
        <div class="closebutton_container">
            <p class="instruction_modal">Entrez vos identifiants :</p>
            <span class="closebutton_modal">X</span>
        </div>
        <form method="post" class="inputs-container-login">


            <label for="inputEmail">Email</label>
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control input-in-login-form" autocomplete="email" required autofocus>
            <label for="inputPassword">Password</label>
            <input type="password" name="password" id="inputPassword" class="form-control input-in-login-form" autocomplete="current-password" required>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            <div class="login-button-container">
                <button class="btn btn-lg btn-primary" type="submit" id="submit-login">
                    SE CONNECTER
                </button>
            </div>
        </form>
    </div>
    <script src="login.js"></script>

{% endblock %}
