<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hôpital SoigneMoi de la région lilloise</title>
    <link rel="stylesheet" href="app.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Manrope:wght@400;500;700&family=Noto+Sans:wght@400;500;600;700;800&display=swap" rel="stylesheet">
</head>
<body class="body-dashboard">
<header class="header-dashboard">
    <img class="logo-dashboard" src="logo-soignemoi.png" alt="logo de l'hôpital Soignemoi">
</header>

<main class="main-signup">

    <p class="confirmation-message">Votre demande de séjour a bien été prise en compte! Présentez-vous à l’hôpital à l’heure et la date indiquées.</p>
    <a href="/dashboard" class="return-btn">Tableau de bord</a>

</main>
</body>
</html>

