<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hôpital SoigneMoi de la région lilloise</title>
    <link rel="stylesheet" href="app.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Manrope:wght@400;500;700&family=Noto+Sans:wght@400;500;600;700;800&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/70fabb1b7e.js" crossorigin="anonymous"></script>

</head>
<body class="body-dashboard">
<header class="header-dashboard">
    <img class="logo-dashboard" src="logo-soignemoi.png" alt="logo de l'hôpital Soignemoi">
    <nav class="nav-dashboard">
        <a href="/add-stay">Séjour</a>
        <a href="/history">Historique</a>
        <a href="/logout">Déconnexion</a>
    </nav>
</header>

<section class="endedstay_title">
    <div class="endedstay_title_container in-progress-container">
        <p class="endedstay_title">RENDEZ-VOUS EN COURS</p>
    </div>
    <div class="card-container in-progress-card">
        <div class="card-subcontainer">
            <p class="date-in-card">Entrée : 16h00 (26/06/2024)</p>
            <p class="date-in-card">Sortie : 10h00 (27/06/2024)</p>
        </div>
        <div class="card-subcontainer">
            <p class="date-in-card">Échographie du 1er trimestre</p>
            <p class="doctor-in-card">Docteur Hébert, Gynécologue</p>
        </div>
    </div>

</section>

<section class="endedstay_title">
    <div class="endedstay_title_container futur-stay-container">
        <p class="endedstay_title">RENDEZ-VOUS À VENIR</p>
    </div>
    <div class="card-container futur-stay-card">
        <div class="card-subcontainer">
            <p class="date-in-card">Entrée : 16h00 (26/06/2024)</p>
            <p class="date-in-card">Sortie : 10h00 (27/06/2024)</p>
        </div>
        <div class="card-subcontainer">
            <p class="date-in-card">Échographie du 1er trimestre</p>
            <p class="doctor-in-card">Docteur Hébert, Gynécologue</p>
        </div>
    </div>
</section>


</body>
</html>