<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hôpital SoigneMoi de la région lilloise</title>
    <link rel="stylesheet" href="app.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Manrope:wght@400;500;700&family=Noto+Sans:wght@400;500;600;700;800&display=swap" rel="stylesheet">
</head>
<body>
<nav class="nav-bar-signup-page">
    <img class="logo_main" src="logo-soignemoi.png" alt="logo de l'hôpital SoigneMoi">
</nav>

<main class="main-signup">

    <p class="confirmation-message">Votre compte a bien été créé! <br> <br>Vous pouvez désormais vous connecter et prendre rendez-vous.</p>
    <a href="/" class="returntomain-button">Accueil</a>

</main>
</body>
</html>

